[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-1 { width: 8.3333333333333333333333333333333%; }
    .col-s-2 { width: 16.666666666666666666666666666667%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.333333333333333333333333333333%; }
    .col-s-5 { width: 41.666666666666666666666666666667%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.333333333333333333333333333333%; }
    .col-s-8 { width: 66.666666666666666666666666666667%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.333333333333333333333333333333%; }
    .col-s-11 { width: 91.666666666666666666666666666667%; }
    .col-s-12 { width: 100%; }

    [class*="col-"] {
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 8.3333333333333333333333333333333%; }
    .col-2 { width: 16.666666666666666666666666666667%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.333333333333333333333333333333%; }
    .col-5 { width: 41.666666666666666666666666666667%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.333333333333333333333333333333%; }
    .col-8 { width: 66.666666666666666666666666666667%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.333333333333333333333333333333%; }
    .col-11 { width: 91.666666666666666666666666666667%; }
    .col-12 { width: 100%; }

    [class*="col-"] {
        float: left;
    }
}

.container {
    max-width: 100%;
    width: 768px;
    margin: 0 auto;
}
